* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

html {
    font-size: 1.25vw;
}

html, body {
    width:100%;
    height: 100%;
}

header .nav-bar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar i {
    font-size:1.3rem;
}

.nav-micro-logo {
    height: 1.5rem;
}

.nav-separator {
    width: 0.125rem;
    height: 1.5rem;
    background-color: #262626;
}

.nav-xbox-logo {
    height: 1.5rem;
}

.nav-links-area {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    margin-right: 10rem;
}

.nav-links-area a, .nav-right-icons a {
    color:#262626;
    text-decoration:none;
    font-size: 0.8125rem;
}

.nav-links-area a i, .nav-right-icons a i {
    font-size: 1rem;
}

.hover-links {
    padding-bottom: 0.1875rem;
    border-bottom: 0.125rem solid transparent;
}

.hover-links:hover {
    border-bottom: 0.125rem solid #262626;
}
.nav-right-icons {
    color:#262626;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-icon {
    width: 2rem;
    height: 2rem;
    border:0.0625rem solid #262626;
    position: relative;
    border-radius: 50%;
}

.user-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landscape-hidden {
    display: none;
}

.hero-div {
    width:100%;
    height: 29.375rem;
    background-color: #000;
    color:#fff;
    position: relative;
}

.hero-div-2 {
    background-color: #fff;
    color: #000;
    border-inline: 0.5rem solid transparent;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-image: url(images/heroimage2.jpg);
    background-size: cover;
}

.hero-div img {
    object-fit: cover;
}

.hero-div-2 img {
    color: #000;
}

.hero-nav {
    width: 100%;
    background-color: transparent;
    position: absolute;
    transform: translateY(-200%);
    display: flex;
    gap:2rem;
    justify-content: center;
}

.hero-nav>i {
    font-size: 1.5rem;
}

.hero-nav-circles {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap:0.8rem;
}

.hero-nav-circles .circles {
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border:0.0625rem solid white;
    cursor: pointer;
}

.hero-nav-circles .circles:hover {
    background: #ffffff85;
}

#circle3 {
    background: white;
    transition: none;
}

.hero-content {
    right:0;
    width: 45%;
    height: 100%;
    position: absolute;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}

.hero-content-2 {
    z-index: 1;
}

.hero-content h1 {
    line-height: 1.1;
    font-size: 2.875rem;
}

.hero-content p {
    font-size: 2.125rem;
    line-height: 1.1;
}

.hero-content .get-now {
    height: 2rem;
    width: 33%;
    margin-top: 1rem;
}

.hero-content-2 .get-now {
    width: 40%;
}

.get-now a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    background-color: #9bf00b;
    font-size: 0.9375;
    width:100%;
    height: 100%;
    font-weight: 900;
    color:#054B16;
}

.get-now a:hover {
    background-color: #8BD80A;
}

.get-now a span:hover {
    margin-right: 0.5rem;
    border-bottom: 0.125rem solid #054B16;
}

.get-now a i {
    margin-left:0.5rem;
}

.icon-div {
    padding: 2rem 0;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap:4.5rem;
}

.icon-items {
    height: 5.5rem;
    text-align: center;
    border-bottom: 0.1875rem solid transparent;
    transition: all 0.3s;
}

.icon-items:hover {
    border-bottom: 0.1875rem solid #054B16;
}

.icon-items a {
    font-size: 0.9375rem 0 1.5rem;
    text-decoration: none;
    color:#107C10;
    text-transform: uppercase;
    font-weight: 600;
}

.grid-section-1 {
    border: 0.5rem solid transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 22.1875rem);
    gap:0.25rem;
}

.grid-1-items {
    color: #fff;
    display: flex;
}

.grid-1-content, .grid-1-image {
    width:50%;
    height: 100%;
}

.grid-1-content {
    background-color: #107C10;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2.5rem;
    justify-content: center;
    color: #fff;
}

.grid-2-content {
    background-color: #fff;
    color: #000;
}

.grid-1-content h2 {
    font-size: 1.25rem;
}

.grid-1-content p {
    font-size: 0.9375rem;
}

.grid-1-content a {
    text-decoration: none;
    color:#fff;
    font-size: 0.9375rem;
    font-weight: 900;
    text-transform: uppercase;
}

.grid-2-content a {
    color: #000;
}

.grid-1-content a:hover {
    color: #9BF00B;
}

.grid-2-content a:hover {
    color: #000;
}

.grid-1-content a span {
    border-bottom: 0.125rem solid transparent;
    transition: all 0.5s;
}

.grid-1-content a span:hover {
    color:#9BF00B;
    margin-right: 0.5rem;
    border-bottom: 0.125rem solid #9BF00B;
}

.grid-2-content a span:hover {
    color: #000;
    margin-right: 0.5rem;
    border-bottom: 0.125rem solid #000;
}

.grid-1-items:nth-child(1) {
    grid-row: 1/3;
    background-image: url(images/grid1_1.jpg);
    background-size: cover;
}

.grid-1-image {
    overflow: hidden;
}

.grid-1-image>div {
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.grid-1-image>div:hover {
    scale: 1.1;
}

.grid-1-items:nth-child(2)>.grid-1-image>div {
    background-image: url(images/grid1_2.jpg);
    background-size: cover;
}

.grid-1-items:nth-child(3) {
    grid-row: 2/4;
    background-image: url(images/grid1_3.jpg);
    background-size: cover;
}

.grid-1-items:nth-child(4)>.grid-1-image>div {
    background-image: url(images/grid1_4.jpg);
    background-size: cover;
}

.grid-1-items:nth-child(5)>.grid-1-image>div {
    background-image: url(images/grid1_5.jpg);
    background-size: cover;
}

.grid-1-items:nth-child(6)>.grid-1-image>div {
    background-image: url(images/grid1_6.jpg);
    background-size: cover;
}

.grid-2-items:nth-child(1) {
    grid-column: 2/3;
    grid-row: 2/4;
    background-image: url(images/grid2_4.jpg);
    background-size: cover;
}

.grid-2-items:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/5;
    background-image: url(images/grid2_5.jpg);
    background-size: cover;
}

.grid-2-items:nth-child(2)>.grid-1-image>div {
    background-image: url(images/grid2_1.jpg);
    background-size: cover;
}

.grid-2-items:nth-child(4)>.grid-1-image>div {
    background-image: url(images/grid2_2.jpg);
    background-size: cover;
}

.grid-2-items:nth-child(5)>.grid-1-image>div {
    background-image: url(images/grid2_3.jpg);
    background-size: cover;
}

.grid-2-items:nth-child(6)>.grid-1-image>div {
    background-image: url(images/grid2_6.jpg);
    background-size: cover;
}

.single-images {
    color: #fff;
    flex-direction: column;
}

.single-images-black {
    color:#000;
}

.single-image-content {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

.single-image-content>h2 {
    font-size: 2.875rem;
}

.single-image-content>p {
    font-size: 0.9375rem;
}

.single-image-content>a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.single-images-black a {
    color: #000;
}

.single-images a:hover {
    color: #9BF00B;
}

.single-images-black a:hover {
    color:#000;
}

.single-images a span {
    border-bottom: 0.125rem solid transparent;
    transition: all 0.3s;
}

.single-images a span:hover {
    margin-right: 0.3rem;
    border-bottom: 0.125rem solid #9BF00B;
}

.single-images-black a span:hover {
    border-bottom: 0.125rem solid #000;
}

a.learn-more {
    background-color: #9BF00B;
    color:#054B16;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 30%;
}

a.learn-more:hover {
    color: #054B16;
    background-color: #8BD80A;
}

a.learn-more span:hover {
    border-bottom: 0.125rem solid #054B16;
}

.new-tag {
    width: fit-content;
    letter-spacing: 0.0625rem;
    font-size: 0.8125rem;
    background-color: #FFD800;
    padding: 0.1rem 0.5rem;
    text-transform: uppercase;
    color:#000;
}

.reduce-gap {
    gap:1.5rem;
}

.follow-footer {
    padding: 1.5rem 3.5rem;
    display: flex;
    gap:1rem;
    align-items: center;
}

.follow-text {
    font-size:0.9875rem;
}

.follow-icons-container {
    display: flex;
    font-size: 1.2rem;
    gap:1.5rem;
}

.follow-icons-container a {
    text-decoration: none;
    width: 2rem;
    height: 1.9rem;
    position: relative;
    color:#000;
}

.follow-icons-container a:hover {
    background-color: #3333331e;
}

.follow-icons-container a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.support-footer {
    background-color: #F2F2F2;
    padding: 2rem 3.5rem;
    display: flex;
    gap: 7rem;
}

.support-footer ul {
    list-style-type: none;
}

.support-footer .list-header {
    font-weight: 650;
    font-size: 0.9875rem;
    line-height: 2;
    color:#616161;
}

.support-footer .list-item {
    font-size : 0.6875rem;
    line-height: 3;
}

.list-item a {
    text-decoration: none;
    color:#616161;
}

.list-item a:hover {
    text-decoration: underline;
}

.base-footer {
    background-color: #F2F2F2;
    padding: 0 3.5rem 2rem;
    display: flex;
    justify-content: space-between;
}

.base-item {
    font-size: 0.6875rem;
}

.base-item i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.base-footer-left {
    display: flex;
    gap:1.2rem;
}

.base-footer-right {
    display: flex;
    gap: 1.5rem;
}

.base-item:nth-child(2) i {
    color: #0066FF;
}

.base-footer a {
    text-decoration: none;
    color:#616161;
}

.base-footer {
    color: #616161;
}

.base-footer a:hover {
    text-decoration: underline;
}

@media (orientation:landscape) {
    .single-images {
        flex-direction: row;
        align-items: flex-end;
    }
}


@media (orientation:portrait) {
    * {
        transition: none;
    }
    html {
        font-size: 4.2vw;
    }

    .portrait-hidden {
        display: none;
    }

    .landscape-hidden {
        display: initial;
    }

    .nav-menu-icon {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    header .nav-bar {
        width: 100%;
        height: 3.5rem;
        justify-content: space-around;
    }

    header .nav2 {
        border-top: 0.0625rem solid #ddd;
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
    }

    .nav-xbox-logo {
        height: 1.3rem;
        font-size: 1.2rem;
        position: relative;
    }
    .nav-xbox-logo i {
        position: absolute;
        top:50%;
        transform: translate(20%, -50%);
    }

    .hero-div img {
        content: url("images/heroimageportrait.jpg");
    }

    .hero-div {
        height: fit-content;
    }

    .hero-nav {
        width: 100%;
        padding: 1.5rem;
        background-color: #000;
        transform: translate(0, -10%);
        position: absolute;
        display: flex;
        gap: 2rem;
        justify-content: center;
    }

    .hero-content {
        padding: 0 2rem;
        text-align: center;
        justify-content: flex-end;
        align-items: center;
        bottom: 0;
        width: 100%;
    }

    .hero-content h1 {
        font-size: 1.71rem;
    }
    .hero-content p {
        font-size: 0.95rem;
    }

    .hero-content .get-now {
        width: 50%;
        margin-top: 1rem;
        transition: none;
        margin-bottom: 1rem;
    }

    .get-now a {
        font-size: 0.9rem;
        transition: none;
    }

    .icon-container {
        margin-top:4rem;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .icon-items {
        width: 6.2rem;
    }

    .grid-section-1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 32rem);
    }

    .grid-1-items:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

        .grid-1-items:nth-child(2) {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .grid-1-items:nth-child(3) {
            grid-row: 3/4;
            grid-column: 1/2;
        }

        .grid-1-items:nth-child(4) {
            grid-row: 4/5;
            grid-column: 1/2;
        }

        .grid-1-items:nth-child(5) {
            grid-row: 5/6;
            grid-column: 1/2;
        }

        .grid-1-items:nth-child(6) {
            grid-row: 6/7;
            grid-column: 1/2;
        }

        .grid-2-items:nth-child(1) {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .grid-2-items:nth-child(2) {
            grid-row: 1/2;
            grid-column: 1/2;
        }

        .grid-2-items:nth-child(3) {
            grid-row: 5/6;
            grid-column: 1/2;
        }

        .grid-2-items:nth-child(4) {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .grid-2-items:nth-child(5) {
            grid-row: 3/4;
            grid-column: 1/2;
        }

        .grid-2-items:nth-child(6) {
            grid-row: 6/7;
            grid-column: 1/2;
        }
    .single-images .portrait-image {
        background-size: cover;
        height: 55%;
    }

    .grid-1-items {
        flex-direction: column;
    }

    .grid-1-image, .grid-1-content {
        width: 100%;
    }

    .grid-1-image {
        height: 40%;
    }
    .grid-1-content {
        height:60%;
    }

    .grid-1-items:nth-child(1)> .portrait-image {
        background-image: url(images/grid1_1.jpg);
    }

    .grid-2-items:nth-child(1)>.portrait-image {
            background-image: url(images/grid2_4.jpg);
    }

    .grid-1-items:nth-child(3)>.portrait-image {
            background-image: url(images/grid1_3.jpg);
    }

    .grid-2-items:nth-child(3)>.portrait-image {
        background-image: url(images/grid2_5.jpg);
    }

    .single-image-content {
        padding: 0 1rem;
        background-color: #333;
        height: 45%;
    }

    .grid-1-items:nth-child(3)>.single-image-content {
        background-color: #fff;
    }

    .grid-2-items:nth-child(3)>.single-image-content,  .grid-2-items:nth-child(1)>.single-image-content{
        background-color: #333;
        height: 55%;
    }

    .grid-1-items:nth-child(3)>.single-image-content a {
        color:#000;
    }

    .single-image-content>h2 {
        font-size: 1.75rem;
    }

    .single-image-content>p {
        font-size: 1rem;
    }

    .single-image-content>a {
        font-size: 1rem;
    }

    .grid-1-items:nth-child(2)>.grid-1-image>div {
        background-image: url(images/grid1_2_portrait.jpg);
    }

    .grid-2-items:nth-child(2)>.grid-1-image>div {
        background-image: url(images/grid2_1_portrait.jpg);
    }

    .grid-1-items:nth-child(2), .grid-1-items:nth-child(5), .grid-1-items:nth-child(6) {
        flex-direction: column-reverse;
    }
    .grid-1-items:nth-child(5)>.grid-1-image>div {
        background-image: url(images/grid1_5_portrait.jpg);
    }

    .grid-2-items:nth-child(5)>.grid-1-image>div {
            background-image: url(images/grid2_3_portrait.jpg);
    }

        .grid-2-items:nth-child(6)>.grid-1-image>div {
            background-image: url(images/grid2_6_portrait.jpg);
        }

    .grid-1-content {
        padding: 0 0.75rem;
    }

    .grid-1-content h2 {
        font-size: 1.75rem;
    }

    .grid-1-content p {
        font-size: 1rem;
    }

    .grid-1-content a {
        font-size: 1rem;
    }
    .hero-div-2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hero-image {
        height: 15rem;
        background-image: url(images/heroimage2_portrait.jpg);
    }
    .hero-content-2 {
        right: 0;
        width: 100%;
        height: 21.17rem;
        padding: 3rem 4rem 3rem 2rem;
        text-align: left;
        position: relative;
    }
    .hero-content-2 h1 {
        margin-bottom: 2rem;
    }
    .hero-content-2 .get-now {
        width: 70%;
        align-self: flex-start;
    }

    a.learn-more {
        width: 50%;
        margin-bottom: 1.5rem;
    }

    .grid-2-items:nth-child(4) {
        flex-direction: column-reverse;
    }
    .grid-2-items:nth-child(5) {
        flex-direction: column;
    }

    .follow-footer {
        flex-direction: column;
        padding-left: 1rem;
        align-items: flex-start;
    }

    .support-footer {
        flex-direction: column;
        gap:2rem;
        padding-left: 1.5rem;
    }

    .base-footer {
        padding-inline: 1rem;
    }

    .base-footer {
        flex-direction: column;
        gap:1.5rem;
    }

    .base-footer-left {
        flex-direction: column;
        gap:0.625rem;
    }

    .base-footer-right {
        flex-wrap: wrap;
        row-gap: 0.625rem;
    }
}